<!DOCTYPE html>
<html>
  <head>
    <title>Reliablity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/app.css" rel="stylesheet" media="screen">

    <!--<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />-->

    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.default.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.min.css" rel="stylesheet" />
    <link href="http://cdn.kendostatic.com/2014.1.528/styles/kendo.dataviz.default.min.css" rel="stylesheet" />

  <link type="text/css" rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css" media="all" />

    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.13/themes/css/cartodb.css" />
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.13/cartodb.js"></script>

    <style type="text/css">
      .map {
        height: 450px;
        width: 80%;
      }

      .highway-sign {
        paddding: 20px;
        background: #62A60A;
        border: 5px solid #fff;
        color: #fff;
      }
    </style>
  </head>
  <body>


  <div class="row">
    <div class="col-lg-12">
      <h4 class="map_title">
        2014 Travel Time Reliability along Freeway Segments
      </h4>
      <div id="T9-B">
        <div class="row">
          <div class="map col-lg-8" id="mapt9b"></div>
          <div class="col-lg-4" id="T9-B-info">
            <div class="row">
              <div class="col-lg-12" id="T9-B-chart-wrapper">
                <h4 id="timesliderheading">Time of day - 9am</h4>
                <input class="slider" id="t9btimeslider"  />
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="corridor-info-header">
                  <p>Select a corridor on the map for more information.</p>
                </div>
                <div class="corridor-info-text"></div>
              </div>
            </div>
          </div>
        </div><!-- end map row -->
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Least reliable segments for AM peak</h4>
            <h6>1. SR-242 southbound from I-680 to SR-4</h6>
            <h6>2. US-101 northbound from SR-85 to I-280/I-680</h6>
            <h6>3. I-680 southbound from SR-24 to SR-4</h6>
            <h6>4. I-880 southbound from SR-84 to SR-92</h6>
            <h6>5. I-80 westbound from US-101 to MacArthur Maze</h6>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12">
            <h4>Least reliable segments for PM peak</h4>
            <h6>1. US-101 northbound from SR-84 to SR-92</h6>
            <h6>2. SR-13 eastbound from SR-24 to I-580</h6>
            <h6>3. I-280 southbound from US-101 to SR-85</h6>
            <h6>4. I-880 southbound from SR-92 to I-80</h6>
            <h6>5. I-80 eastbound from MacArthur maze to I-580</h6>
          </div>
        </div><!-- end top 10 row -->
      </div><!-- end t9b -->
    </div>
  </div>

  <script type="text/template" id="map-legend-template">
  <div class="highway-sign">
    <h2 style="margin-bottom:0;"><%= corridor %> <%= longDirection %></h2>
    <h3 style="margin-top:0;">From <%= endpoint1 %> to <%= endpoint2 %> </h3>
  </div>
  <div class="chart" id="corridor-chart" style="min-height: 250px;"></div>
  </script>

  <script type="text/template" id="reliability-template">
    /** choropleth visualization */

    #reliability_new {
      polygon-opacity: 0;
      line-color: #c6e2ec;
      line-width: 3;
      line-opacity: 1;
      line-offset: -3;

      [zoom<11] {
        line-width: 2;
        line-offset: -2;
      }
      [zoom=11] {
        line-width: 4;
        line-offset: -4;
      }
      [zoom=12] {
        line-width: 5;
        line-offset: -5;
      }
      [zoom=13] {
        line-width: 6;
        line-offset: -6;
      }
      [zoom=14] {
        line-width: 7;
        line-offset: -7;
      }

      [corridor='I-280'],
      [corridor='I-380'],

      [corridor='SR-12 '],
      [corridor='SR-13'],
      [corridor='SR-24'],
      [corridor='SR-92'][endpoint1='US-101'][endpoint2='I-880'],

      [corridor='SR-237'][endpoint1='SR-85'][endpoint2='I-880'],
      [corridor='I-238'][endpoint1='I-880'][endpoint2='I-580'],

      [corridor='I-580'][endpoint1='I-238'][endpoint2='I-680'],

      [corridor='I-680'][endpoint1='SR-4'][endpoint2='I-80'],
      [corridor='I-680'][endpoint1='I-580'][endpoint2='SR-24'],

      [corridor='I-80'][endpoint1='I-680'][endpoint2='I-505'],
      [corridor='I-80'][endpoint1='SR-4'][endpoint2='I-680'],
      [corridor='I-80'][endpoint1='I-505'][endpoint2='SR-113'],

      [corridor='I-980'][endpoint1='SR-85'][endpoint2='I-880'],

      [corridor='US-101'][endpoint1='SR-152'][endpoint2='SR-85'],
      [corridor='US-101'][endpoint1='SR-116/Gravenstein Highway'][endpoint2='Arata Lane (Windsor)'],
      [corridor='US-101'][endpoint1='Arata Lane (Windsor)'][endpoint2='Mendocino County Line']{
        [direction='SB'],
        [direction='WB'] {
          line-offset: 5;

          [zoom < 11] {
           line-offset: 2;
          }
        }
      }


      /*
      // Lines with southbound and northbound swapped
      [corridor='SR-29'],
      [corridor='I-280'][endpoint1='SR-1/Cabrillo Highway'][endpoint2='End/Begin Freeway'] {
        [direction='SB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
        }
        [direction='NB'] {
          line-offset: -5;

          [zoom < 11] {
            line-offset: -2;
          }
        }
      }
      */

     // These E/W lanes are in the wrong direction.
      [corridor='SR-24'],
      //[corridor='SR-12'][endpoint1='I-80'][endpoint2='SR-113'],
      [corridor='I-580'][endpoint1='US-101'][endpoint2='I-80'] {
        [direction='EB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
          [zoom = 12] {
            line-offset: 5;
          }
          [zoom = 13] {
            line-offset: 6;
          }
          [zoom = 14] {
            line-offset: 7;
          }
        }
        [direction='WB'] {
          line-offset: -5;

          [zoom < 11] {
            line-offset: -2;
          }
          [zoom = 12] {
            line-offset: -5;
          }
          [zoom = 13] {
            line-offset: -6;
          }
          [zoom = 14] {
            line-offset: -7;
          }
        }
      }

   // These E/W lanes are in the wrong direction and offset poorly
      [corridor='SR-37'],
      [corridor='I-80'][endpoint1='I-580'][endpoint2='SR-4'],
      [corridor='I-780'] {
        [direction='EB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
          [zoom = 12] {
            line-offset: 5;
          }
          [zoom = 13] {
            line-offset: 6;
          }
          [zoom = 14] {
            line-offset: 7;
          }
        }
        [direction='WB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
          [zoom = 12] {
            line-offset: 5;
          }
          [zoom = 13] {
            line-offset: 6;
          }
          [zoom = 14] {
            line-offset: 7;
          }
        }
      }

      // These N/S lanes are in the correct direction but need
      // better offsets
      [corridor='SR-29'] {
        [direction='SB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
          [zoom = 12] {
            line-offset: 5;
          }
          [zoom = 13] {
            line-offset: 6;
          }
          [zoom = 14] {
            line-offset: 7;
          }
        }
        [direction='NB'] {
          line-offset: -5;

          [zoom < 11] {
            line-offset: -2;
          }
          [zoom = 12] {
            line-offset: -5;
          }
          [zoom = 13] {
            line-offset: -6;
          }
          [zoom = 14] {
            line-offset: -7;
          }
        }
      }

      // These N/S lanes are incorrectly offset in the base data
      [corridor='SR-17'][endpoint1='Summit Road'][endpoint2='I-280'],
      [corridor='SR-87'][endpoint1='SR-85'][endpoint2='US-101'],

      // South Bay 101
      [corridor='US-101'][endpoint1='I-280/I-680'][endpoint2='SR-84'],
      [corridor='US-101'][endpoint1='SR-85'][endpoint2='I-280/I-680'],

      // North Bay 101
      [corridor='US-101'][endpoint1='SR-1/Veterans Boulevard'][endpoint2='SR-37'],

      [corridor='I-880'][endpoint1='SR-92'][endpoint2='I-80'] {
        [direction='SB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
          [zoom = 12] {
            line-offset: 5;
          }
          [zoom = 13] {
            line-offset: 6;
          }
          [zoom = 14] {
            line-offset: 7;
          }
        }
        [direction='NB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
          [zoom = 12] {
            line-offset: 5;
          }
          [zoom = 13] {
            line-offset: 6;
          }
          [zoom = 14] {
            line-offset: 7;
          }
        }
      }

      // These N/S lanes are swapped and incorrectly offset
      [corridor='US-101'][endpoint1='SR-37'][endpoint2='SR-116/Gravenstein Highway'],
      [corridor='US-101'][endpoint1='SR-152'][endpoint2='SR-85'],

      [corridor='SR-242'],

      [corridor='I-280'][endpoint1='SR-92'][endpoint2='SR-1/Cabrillo Highway'],
      [corridor='I-280'][endpoint1='SR-85'][endpoint2='SR-92'],
      [corridor='I-280'][endpoint1='US-101'][endpoint2='SR-85'],

      [corridor='I-680'][endpoint1='SR-24'][endpoint2='SR-4'],
      [corridor='I-880'][endpoint1='SR-84'][endpoint2='SR-92'] {
        [direction='SB'] {
          line-offset: -5;

          [zoom < 11] {
            line-offset: -2;
          }
          [zoom = 12] {
            line-offset: -5;
          }
          [zoom = 13] {
            line-offset: -6;
          }
          [zoom = 14] {
            line-offset: -7;
          }
        }
        [direction='NB'] {
          line-offset: 5;

          [zoom < 11] {
            line-offset: 2;
          }
          [zoom = 12] {
            line-offset: 5;
          }
          [zoom = 13] {
            line-offset: 6;
          }
          [zoom = 14] {
            line-offset: 7;
          }
        }
      }

    } /* end #reliability_new */





    #reliability_new [<%= time %> <= 2.735] {
       line-color: #ec7429;
    }
    #reliability_new [<%= time %> <= 1.375] {
       line-color: #ea9e77;
    }
    #reliability_new [<%= time %> <= 0.9875] {
       line-color: #d9b305;
    }
    #reliability_new [<%= time %> <= 0.6025] {
       line-color: #9dbf88;
    }
    #reliability_new [<%= time %> <= 0.24] {
       line-color: #62a60a;
    }


    [zoom <= 10] {
      ::outline {
        [direction='SB'],
        [direction='WB'] {
          line-width: 2;
          line-offset: 0;
          line-color: #fff;
        }
      }
    }

    /*
    #reliability_new[direction='SB'] {
      line-color: red;
    }
    #reliability_new[direction='NB'] {
      line-color: green;
    }
    #reliability_new[direction='EB'] {
      line-color: yellow;
    }
    #reliability_new[direction='WB'] {
      line-color: purple;
    }
    */
  </script>

    <!--
    To select top AM & PM peaks, start with this SQL:
    SELECT bti_pmpeak, corridor, direction, endpoint1, endpoint2 FROM reliability_new
    where year = 2014
    order by bti_pmpeak desc
    limit 5
    -->


    <!-- libraries -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!--<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>-->
    <!--<script type="text/javascript" src="https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js"></script>-->

    <script src="http://cdn.kendostatic.com/2014.1.528/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.5.0/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/2.9.13/bluebird.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>

    <!--<script src="js/esri-leaflet.js"></script>-->

    <!-- From MTC server -->
    <script src="http://dev-mtc-vital-signs.pantheon.io/sites/all/themes/vitalsigns/js/colors.js"></script>

    <script src="js/viz/t9b.js"></script>
  </body>
</html>
